<form id="signInForm" class="form-horizontal"
    data-fv-framework="bootstrap"
    data-fv-icon-valid="glyphicon glyphicon-ok"
    data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh"
  (submit)="signin($event)">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<h2 class="text-center">Agent Portal - Login page</h2>
				<div *ngIf="error" class="alert alert-danger">
 					{{error}}
				</div>
				<div class="account-wall">
						<input type="text" name='username' class="form-control"
							[(ngModel)]="user.phone_number" placeholder="Username" required autofocus>
						<br />
						<input
							type="password" name='password' class="form-control"
							[(ngModel)]="user.password"  placeholder="Password" required>
							<br />
						<button class="btn btn-lg btn-primary btn-block" type="submit" >
							Sign in</button>
						<label class="checkbox pull-left"> <input type="checkbox"
							value="remember-me"> Remember me
						</label>
						<a class="pull-right need-help" [routerLink]="['/forgot']" routerLinkActive="active">Forgot password ?</a>
				</div>
			</div>
		</div>
</form>
