<div>
<p>
  Welcome Test
</p>
<ul>
<li>
<a [routerLink]="['/logout']" routerLinkActive="active" >Logout</a>
</li>
</ul>
</div>
<nav class="navbar navbar-default">
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Home</a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">SendMoney</a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Receive Money</a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Withdraw cash </a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Trusted Customers</a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Preferred Agents</a>
  <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">Payments</a>
  <a [routerLink]="['/forgot']" routerLinkActive="active" class="navbar-brand">Reports</a>
</nav>
<ng-outlet></ng-outlet>
